---
import Layout from "~/layouts/Layout.astro";
import H1 from "~/components/H1.astro";
import { Image } from "@astrojs/image/components";
import Hero from "~/components/Hero.astro";
import image from "~/assets/images/woman-having-abdomen-massage-by-professional-osteopathy-therapist.jpg";
import { Heading, Price, PriceContainer } from "~/components/Price";
import Body from "~/components/Body.astro";
import HR from "~/components/HR.astro";
import SubNav from "~/components/SubNav.astro";
---

<Layout title="Personal Training & Massage Therapy - Bespoke Fitness">
  <Hero
    title="Pricing"
    subtitle="Muskoka's Premier Boutique Fitness Studio, Massage Therapy & Manually Osteopathy Clinic"
  >
    <Image src={image} width={1920} alt="Massage therapy" />
  </Hero>
  <SubNav
    links={[
      {
        href: "#registered-massage-therapy-and-osteopathy",
        title: "RMT & Osteopathy",
      },
      {
        href: "#personal-rehabilitative-training",
        title: "Personal & Rehabilitative Training",
      },
      {
        href: "#in-home-massage-therapy",
        title: "In-home Massage Therapy",
      },
    ]}
  />
  <Body>
    <PriceContainer
      id="registered-massage-therapy-and-osteopathy"
      client:load
      title="Registered Massage Therapy & Manual Osteopathy"
      durations={[30, 45, 60, 75, 90]}
      defaultDurationIndex={2}
      prices={[
        [65, 85, 100, 125, 145],
        [60, 75, 90, 110, 130],
        [55, 70, 85, 100, 120],
      ]}
      href={import.meta.env.PUBLIC_BOOKING_URL}
    />
    <HR />
    <PriceContainer
      id="personal-rehabilitative-training"
      client:load
      title="Personal & Rehabilitative Training"
      durations={[30, 45, 60]}
      defaultDurationIndex={1}
      prices={[
        [60, 70, 90],
        [55, 65, 85],
        [50, 60, 75],
      ]}
      href={`sms:+${
        import.meta.env.PUBLIC_PHONE_NUMBER
      }?body=Hello%2C%20I%20am%20looking%20for%20information%20about%20personal%20training.`}
      contactUs={true}
    />
    <HR />
    <Heading id="in-home-massage-therapy" title="In-home Massage Therapy" />
    <div
      class="mx-auto mt-8 grid max-w-screen-lg gap-8 md:grid-cols-2 md:gap-16"
    >
      <Price
        title="0-20 Minutes"
        subtitle="Away from clinic"
        hour
        price={145}
        href={`sms:+${
          import.meta.env.PUBLIC_PHONE_NUMBER
        }?body=Hello%2C%20I%20am%20looking%20for%20information%20about%20in-home%20massage%20therapy.`}
        contactUs
      />
      <Price
        title="21-60 Minutes"
        subtitle="Away from clinic"
        hour
        customPrice={"$150-190"}
        href={`sms:+${
          import.meta.env.PUBLIC_PHONE_NUMBER
        }?body=Hello%2C%20I%20am%20looking%20for%20information%20about%20in-home%20massage%20therapy.`}
        contactUs
      />
    </div>
  </Body>
</Layout>
