---
const { title } = Astro.props;
---

<div
  class="dark:bg-zinc-800 rounded text-center shadow border dark:border-transparent border-zinc-200"
>
  <div
    class="h-0 pb-[56.25%] overflow-hidden rounded-t border-b border-zinc-200 dark:border-transparent"
  >
    <slot />
  </div>
  <div class="p-4 dark:text-zinc-200 text-zinc-700">{title}</div>
</div>
