---
const { id, title, subtitle, swap, buttonText, href, contactUs } = Astro.props;
---

<div>
  <h2 class="mb-16 -mt-16 pt-16 text-center text-4xl" id={id}>{title}</h2>
  <div class={`md:grid gap-8 rounded p-4 grid-cols-2`}>
    <div style={{ ...(swap && { gridColumn: 2, gridRow: 1 }) }}>
      <div class="mb-8 overflow-hidden rounded md:mb-0">
        <slot name="image" />
      </div>
    </div>
    <div
      class="text-justify"
      style={{ ...(swap && { gridColumn: 1, gridRow: 1 }) }}
    >
      {subtitle && <h3>{subtitle}</h3>}
      <slot name="body" />
    </div>
  </div>
  <div class="pt-16 text-center">
    {
      contactUs && (
        <div class="mb-2 text-xs uppercase text-zinc-700">Contact us</div>
      )
    }
    <a
      href={href}
      class="inline-block rounded bg-red-700 px-8 py-4 text-lg text-zinc-100 hover:bg-red-800"
    >
      {buttonText || "Book now"}
    </a>
  </div>
</div>
