---
const { links } = Astro.props;
---

<div class="bg-zinc-800 sticky top-0 border-b border-zinc-900 z-10">
  <div
    class="max-w-screen-xl mx-auto px-4 md:flex justify-center items-center py-2 gap-2 text-center"
  >
    <div class="uppercase text-xs text-zinc-400 tracking-wide px-4">
      On this page:
    </div>
    {
      links?.map((link) => (
        <a
          href={link.href}
          class="block px-4 py-2 hover:bg-zinc-900 rounded text-sm tracking-wide border border-zinc-700"
        >
          {link.title}
        </a>
      ))
    }
  </div>
</div>
